<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../CSS/AdminPanel.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.5.1.js"></script>
    <script src="../../JavaScript/AdminPanel.js"></script>

</head>
<body>
    <h2>Admin Panel</h2>

    <div id="greska" hidden></div>

    <button id="dugmeOdjava">Odjavi se</button>

    <div id="omotac">

        <div class="opcija">
            <a id="kreiraj" href="KreirajProdavca.html"> Kreiraj Prodavca</a>
        </div>

        <div class="opcija">
            <button id="profilKorisnika">Prikazi profil</button>
        </div>

        <div class="opcija">
            <button id="dugmeZaKorisnike">Pregled svih korisnika</button>
        </div>

        <div class="opcija">
            <button id="dugmeZaSumnjive">Pregled svih sumnjivih korisnika</button>
        </div>

        <div class="opcija">
            <button id="dugmeZaManifestacije">Pregled svih manifestacija</button>
        </div>

        <div class="opcija">
            <button id="dugmekomentar">Prikazi sve komentare</button>
        </div>

        <div class="opcija">
            <button id="dugmeKarte">Prikazi sve karte</button>
        </div>

        <div class="opcija">
            <a id="pocetna" href="../Pocetna.html">Idi na Pocetnu</a>
        </div>
    </div>






    <br />

    <h3>Pretrazi korisnike</h3>

    <div id="pretraga">

        <div class="izbor-pretraga">
            <input type="text" placeholder="Ime korisnika" id="ime" /><br />
        </div>
        <div class="izbor-pretraga">
            <input type="text" placeholder="Prezime korisnika" id="prezime" /><br />
        </div>
        <div class="izbor-pretraga">
            <input type="text" placeholder="Korisnicko ime" id="kime" /><br />
        </div>
        <div class="izbor-pretraga">
            <button id="btnPretraga">Pretrazi</button>
        </div>
    </div>
    <br /><br />

    <h3 class="messi">Sortiraj/Filtriraj Korisnike</h3>

    <div class="messi" id="sortiranje_i_filtriranje" hidden>

        <div class="izbor-sf">
            <label for="sortiraj">Sortiraj po</label>
            <select id="sortiraj">
                <option class="aca" value="-">-</option>
                <option class="aca" value="ime">Imenu korisnika</option>
                <option class="aca" value="prezime">Prezimenu korisnika</option>
                <option class="aca" value="kime">Korisnickom imenu</option>
                <option class="aca" value="bodovi">Broju sakupljenih bodova</option>
            </select>
        </div>
        <div class="izbor-sf">
            <label for="nacinsortiranja">Redosled</label>
            <select id="nacinsortiranja">
                <option class="aca" value="-">-</option>
                <option class="aca" value="rastuce">Rastuce</option>
                <option class="aca" value="opadajuce">Opadajuce</option>
            </select>
        </div>

        <div class="izbor-sf">
            <label for="filtriraj">Filtriraj po</label>
            <select id="filtriraj">
                <optgroup class="coa" label="Uloga korisnika">
                    <option class="aca" value="-">-</option>
                    <option class="aca" value="kupac">Kupac</option>
                    <option class="aca" value="prodavac">Prodavac</option>
                    <option class="aca" value="administrator">Administrator</option>
                </optgroup>
                <optgroup class="coa" label="Tip Korisnika">
                    <option class="aca" value="zlatni">Zlatni</option>
                    <option class="aca" value="srebrni">Srebrni</option>
                    <option class="aca" value="bronzani">Bronzani</option>
                    <option class="aca" value="pocetnik">Pocetnik</option>
                </optgroup>
            </select>
        </div>

    </div>
    <br />
    <div id="sadrzaj">

    </div>
</body>
</html>