<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../CSS/Index.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.5.1.js"></script>
    <script src="../../JavaScript/Index.js"></script>
</head>
<body>

    <h2> PORDAVAC POCETNA</h2>
    <div id="greska" hidden></div>

    <button id="dugmeOdjava">Odjavi se</button>

    <div id="omotac">
        <div class="opcija">
            <a id="kreiraj" href="KreirajManifestaciju.html">Kreiraj Manifestaciju</a>
        </div>

        <div class="opcija">
            <button id="btnucitaj">Prikazi sve manifesacije</button>
        </div>
        <div class="opcija">
            <button id="profilKorisnika">Prikazi profil</button>
        </div>

        <div class="opcija">
            <button id="dugmekomentar">Prikazi sve komentare</button>
        </div>

        <div class="opcija">
            <a id="pocetna" href="../Pocetna.html">Idi na Pocetnu</a>
        </div>
    </div>



    <div id="sadrzaj">

    </div>

</body>
</html>