

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#bdc3c7,#2c3e50);
    min-height: 100vh;
}

h2 {
    text-align: center;
}

::placeholder {
    color: #fff;
    opacity: 0.8;
}

.omotac {
    max-width: 450px;
    border-radius: 10px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 40px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=text], input[type=number], input[type=datetime-local], input[type=file], select {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.5);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

input:-webkit-autofill {
    -webkit-transition-delay: 99999s;
    -webkit-text-fill-color: #fff;
}

#prodavacindex {
    float: right;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin-right: 30px;
}

    #prodavacindex:hover {
        color: #04ff00
    }

#map {
    width: 500px;
    height: 500px;
    float: left;
    margin-top: 500px;
    margin-left: 20px;
}

#btnizmeni, #btn {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    margin-top: 10px;
    outline: none;
    border: none;
    background: #0bbfe3;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}

    #btn:hover, #btnizmeni:hover {
        background: #0bbfe3;
        box-shadow: 0 0 5px #0bbfe3, 0 0 25px #0bbfe3, 0 0 50px #0bbfe3, 0 0 100px #0bbfe3
    }

#greska {
    margin-left: 20px;
    /*float: left;
            position: absolute;*/
    color: #ff0000
}

#promenaslike {
    float: left;
    margin-left: 40px;
    position: absolute;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 0;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: #fff;
    background-color: black;
}

    #promenaslike:hover {
        background: #000;
        box-shadow: 0 0 5px #000, 0 0 25px #000, 0 0 50px #000, 0 0 100px #000
    }

#slicica {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

    #slicica img {
        width: 100%;
        height: 100%;
    }

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-color: #fff;
}